@media screen and (width: 768px) {
    /* Write your CSS properties here */
}


@media all and (max-device-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 0% 0%;
        height: 128px;
        justify-content: center;
    } 

    nav img {
        padding-left: 40px;
        width: 140px;
        margin-top: 20px;
    }
    
    .nav-links  {    
        display: flex;
        width: 100%;
        margin-top: 20px;
        height: 40px;
        border-bottom: 2px solid #F2F2F2; 
        flex-direction: row;
    }

    .nav-links  div{    
        flex: 1;
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .nav-links a {
        display: flex;
        color:black;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 17px;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    .nav-links a:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 9px;
    }

    h3 {
        padding: 5% 1%;
        line-height: 1.2;
        padding-bottom: 2%;
        font-size: 22px;
        margin: 0% 3%;
    }
    
    #p1 {
        padding: 1%;
        font-size: 16px;
        margin: 0% 3%;
    }

    /* -- Search bar ---------------------*/ 
    .search-bar {
        margin-left: 3%;
        margin-right: 3%;
        justify-content: start;
        position: relative;
        padding-top: 50px;
        height: 27%;
        padding-left: 0px;

    }
    
    #loc-icon {
        background-color: #F2F2F2;
        padding: 15px 20px;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        font-size: 18px;
    }

    .search-bar input[type=text] {
        padding: 15px;
        border: 1px solid #F2F2F2;
        font-weight: 900;
        width: 80%;
    }

    .button-search {
        display: none;
    }

    .button-icon {
        display: inline;

        background-color: #0065FC;
        color: white;
        border: none;
        font-weight: 700;
        padding: 15px;
        border-radius: 16px;
        font-size: 20px;
    
        position: relative;
        left: 86%;
        bottom: 51px;
    }

    /* -- Filters ---------------------------------------------------------------------------*/
    .filters-container {
        border: 0.5px solid red; /* delete */
        font-weight: 900;
        font-size: 16px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start; 
        margin: 0% 3%;
    }

    #filters {
        margin-right: 100%;
        width: auto;
        font-size: 18px;
        padding-top: 0;
    }

    .filters-container div {
        margin-right: 2%; 
        padding: 2.7% 0%;
        margin-bottom: 4%;
    }

    #info {
        margin-right: 2%;
        width: 349px;
    }
    
    /* -- i paragraph ----------------------------------------------------------------------*/
    .info-container {
        //border: 1px solid red; /* delete */
        padding: 2% 0% 2% 0;
        width: auto; 
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: baseline;
        margin: 2% 3% 0% 3%;
    
    }
    #info-icon {
        padding: 1.3% 2.3%;
        margin-right: 3%;
        font-size: 11px;
        font-weight: 700;
    }

    #info {
        //border: 1px solid green; /* delete */
        width: 280px;
        font-size: 16px;
    }

