* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

/* -- Container of the logo and accomodation/activities links -------------------------- */
nav {
    display: flex;
    padding: 0% 3% 0% 4%;
    justify-content: space-between;
    align-items: center;
    height: 90px;

    //border: 2px solid yellow; /* delete */
}

/* -- Logo ------------------------------------------------------------------------------*/
nav img {
    width: 100px;
    /* border: 2px solid red; */
    
}

/* -- Accomodations & Activities container ----------------------------------------------*/
.nav-links  {
    align-self: flex-start;
    list-style: none;
    display: flex;
    width: 250px; /*250px*/
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

   /* border: 2px solid red; */
}

/* -- Accomodations & Activities items ------------------------------------------------- */
.nav-links div {    
   /* border: 2px solid green; */
}


.nav-links a {
    color:black;
    text-decoration: none;
    font-size: 14px;
    padding: 20px 17px;
}

/* -- Change to blue when the mouseover -------------------------------------------------*/
.nav-links a:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

/* -- Heading, phrase -------------------------------------------------------------------*/
main {
    //border: 2px solid orange; /* delete */
    padding: 0% 3% 0% 4%;
    height: 360px;
    font-size: 14px;
}

h3 {
    //border: 2px solid green; /* delete */
    font-size: 20px;
    font-family: ;
    line-height: 1.8;
}

#p1 {
    //border: 2px solid green; /* delete */
}

/* -- Search bar ------------------------------------------------------------------------*/
#loc-icon {
    background-color: #F2F2F2;
    padding: 9px 13px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-bar {
    //border: 2px solid red; /* delete */
    position: relative;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    padding: 0%;
}

.search-bar input[type=text] {
    padding: 8px;
    border: 1px solid #F2F2F2;
    font-weight: 900;
    position: relative;
    right: 5px;
    width: 240px;
}

.button-search {
    background-color: #0065FC;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    right: 8px;
}

.button-icon {
    display: none;
}

/* -- Filters ---------------------------------------------------------------------------*/
.filters-container {
    //border: 0.5px solid red; /* delete */
    font-weight: 500;
    font-size: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; 
    align-content: space-between;
}

#filters {
    border: none;
    display: flex;
    align-items: center;
    margin-right: 4%;
    border-radius: 0%;
    width: auto;
}

.filters-container div {
    margin-right: 2%; 
    border: 2px solid #dfdcdc; 
    border-radius: 30px;
    padding: 0.7% 0%;
}

.filters-container a {
    color: black;
    text-decoration: none; 
}

.icon-filter {
    background-color: #DEEBFF;
    color: #0065FC;
    font-size: 17px;
    border-radius: 100%;
    padding: 6.6%;
    margin-right: 1.5%;
    position: relative;
    right: 4%;
}

.lowcost {
    width: 128px;
}

.famfriendly  {
    width: 172px;
}

.romantic {
    width: 128px;
}

.petsallowed {
    width: 158px;
}

#lc-icon {
    padding: 8%;
}

#ff-icon {
    padding: 6.5% 8%;
}

#r-icon {
    padding: 8%;
}

/* -- Change to blue when the mouseover -------------------------------------------------*/
.filters-container a:hover {
    color:#0065FC;
}

/* -- i paragraph ----------------------------------------------------------------------*/
.info-container {
    //border: 1px solid red; /* delete */
    padding: 2% 0% 2% 0;
    width: 500px; /*-- 368 --*/
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  
}

#info-icon {
    border: 1px solid #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 1.2% 2%;
    margin-right: 2%;
    font-size: 11px;
}

#info {
    //border: 1px solid green; /* delete */
    width: 340px;
}

